<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>com.example.demo.entity.Instrument Catalog</title>
    <link rel="stylesheet" href="" th:href="@{/css/catalog.css}" />

    <style>
            body {
                background-image: url('image/piano2.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }

            table, th, td {
                border:1px solid black;
            }
    </style>
</head>
<body>
<div class="container">
    <h1> Catalog Of The Soundz Of Muzic </h1>
    <div class="tab_box">
        <!--TABS CREATED HERE-->
        <a href="welcome">
            <button class="tab_btn">Home</button>
        </a>

        <a href="instruments">
            <button class="tab_btn">Instruments</button>
        </a>

        <a href="about">
            <button class="tab_btn">About</button>
        </a>
    </div>

    <table style="width:100%" id="dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Value</th>
                <th>Year</th>
                <th>Listen</th>
                <th>See</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
</div>
<div class="background-image"> </div>

<script src="catalog.js"></script>
</body>
</html>